<!DOCTYPE html>
<html>
<head>
  <script src="/js/jquery-2.1.3.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="/js/react-0.13.2.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="/js/web-tree.js" type="text/javascript" charset="utf-8"></script>
  <link rel="icon" type="image/jpg" href="/img/12780929034_23d2457ebf_o.png">
  <title>Web Tree</title>
</head>
<body>
<div id="web-tree">
</div>
<script type="text/javascript">

  var webTree = WebTree('native', {
    fetchUrl: '/api/sitemaps/first'
  });
  var node = document.getElementById('web-tree');
  webTree.render(node);
</script>
</body>
</html>
