<!DOCTYPE html>
<html>
<head>
  <script src="/js/jquery-2.1.3.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/react-0.13.2.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/web-tree.js" type="text/javascript" charset="utf-8"></script>
  <link rel="icon" type="image/jpg" href="/img/12780929034_23d2457ebf_o.png">
  <title>Web Tree</title>
</head>
<body>
<div id="web-tree">
</div>
<button id="web-tree-update-btn">Update</button>
<script type="text/javascript">

  var webTree = WebTree('native', {
    fetchUrl: '/api/sitemaps/first'
  });
  var node = document.getElementById('web-tree');
  webTree.render(node);

  // Recursive function to append elements to provide full json
  // TODO: Make separate js file
  var append = function (_nodes) {
    var data = [];
    for(var i = 0; i < _nodes.length; i++) {
      var elem = {},
          e    = _nodes[i];
      if(!e.getAttribute('data-id')) {
        if(e.children.length > 0) {
          var result = append(e.children);
          if(Array.isArray(result)) {
            data = data.concat(result);
          } else {
            data.push(result);
          }
        }
      } else {
        elem.name = e.getAttribute('data-name');
        elem['_id']   = e.getAttribute('data-id');
        if(e.children.length > 0) {
          elem.children = append(e.children);
        }
        data.push(elem);
      }
    }
    return data;
  }

  var buildJsonData = function (_element) {
    var data = {};
    var mainObject = _element.children[0];
    data.name = mainObject.getAttribute('data-name');
    data['_id']   = mainObject.getAttribute('data-id');
    if(mainObject.children.length > 0) {
      data.pages = append(mainObject.children);
    }
    return data;
  }

  $("#web-tree-update-btn").on('click', function (btn) {
    var json = buildJsonData(node);
    console.log(json);
    $.ajax({
      type: "POST",
      url: "/api/sitemaps/update",
      processData: false,
      contentType: 'application/json',
      data: JSON.stringify(json),
      success: function(r) {
        console.log(r);
      }
    });
  })
</script>
</body>
</html>
