<!DOCTYPE html>
<html>
<head>
  <script src="/js/jquery-2.1.3.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="/js/react-0.13.2.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="/js/web-tree.js" type="text/javascript" charset="utf-8"></script>
  <link rel="icon" type="image/jpg" href="/img/12780929034_23d2457ebf_o.jpg">
  <title>Web Tree</title>
</head>
<body>
<div id="web-tree">
</div>
<script type="text/javascript">
  var dummyData = [
    {
      id: '1234567',
      name: 'Home Page',
      url:  'localhost:9292/',
      children: [
        {
          id: '123456',
          name: 'About',
          url: 'localhost:9292/about'
        },
      ],
    },
    {
      id: '123456jgroewf7',
      name: 'Some Page',
      url:  'localhost:9292/'
    }
  ]

  var webTree = WebTree('native');
  var node = document.getElementById('web-tree');
  webTree.render(node, dummyData);
</script>
</body>
</html>
